@charset "UTF-8";
body {
	background-color: #dad8e0;
	color: #555;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
}

.cs_logo {
	margin-bottom: -24px;
}

.login {
	width: 300px;
	margin-left: auto;
	margin-right: auto;
}

.login_form input {
	margin-bottom: 5px;
}

.login_form .btn {
	/* float: right; */
}

#footer{
	font-size: 12px;
	color: #7b7d7f;
	text-align: center;
}

/* Sticky footer styles
-------------------------------------------------- */

html,
body {
	height: 100%;
	/* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
.container {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* Negative indent footer by it's height */
	margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
	height: 60px;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
#footer {
	margin-left: -20px;
	margin-right: -20px;
	padding-left: 20px;
	padding-right: 20px;
}
}
